<div class="title">
    <h2>Hola! Estas en "Index"!</h2>
    <p>
        Esta página te muestra la lista de productos que tenemos en "/api/products".
        A su vez, esta lista es estática (Es decir, no tedrá cambios si se modifica el "/api/products")
    </p>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Código</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody id="productsEstaticos">
            <!-- Las filas de productos se añadirán aquí -->
        </tbody>
    </table>
</div>